
.container {
  padding: 2rem;
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.main-content {
  flex: 3
}

.secondary-content {
  flex: 1;
  background-color: #296EFA;
  text-align: center;
}

.secondary-content p {
  font-size: 0.55rem;
}

.circle {
  height: .29rem;
  width: .29rem;
  background-color: #AAAAAA;
  border-radius: 1rem;
}

.selected {
  background-color: #333333;
}